.section-color{
  background-color:#75A6A5;
  font-size:large;
  text-emphasis-color: white;
}

.text-color{
  color:#75A6A5 ;
}

.section-text-color{
  color:white ;
}
.sub-section-color{
  background-color: #E5E4E2;
  font-size: medium;
  font-weight: bold;
}