.file-upload-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: auto;
}

.dynamicCSS{
    background: #027e46 !important;
    color: white !important;
    }